@import '@fontsource/inter/variable-full.css';

@tailwind components;
@tailwind base;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

.token.function,
.token.keyword {
  color: #7c5ae3 !important;
}

.token.class-name {
  color: #85a600 !important;
}

.token.number {
  color: #3b3b3b !important;
}

.token.string {
  color: #2e6bd0 !important;
}
